<h1>Photo Details</h1>


<form action="" >
  <dt>Image</dt>
  <dt>Caption</dt>
  <dt>Poster</dt>
  <dt>Edit photo</dt>
    <dd>
      <label for="browser_image2">Image</label>
      <input id="browser_image2" name="entered_image2" type="text" placeholder="Enter a URL for the image...">

      <label for="browser_caption2">Caption</label>
      <textarea id="browser_caption2" name="entered_cation2" type="text" placeholder="Enter a cation for photo..."></textarea>

      <label for="browser_ownerID2">Owner ID</label>
      <input id="browser_ownerID2" name="entered_ownerID2" type="text" placeholder="Enter an ID of the User...">

      <button>Add photo</button>
    </dd>
  <dt>Delete photo</dt>
  <dd><a href="">Delete this image</a></dd>
</form>

<h2>Comments</h2>

<table border= "1">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  <tr>

  <tr>
    
  <tr>
</table>

<h3>Add a new comment</h3>

<form action="">
  <dt>Photo ID</dt>
  <dt>Auther ID</dt>
  <dt>Comment</dt>

  <button>Add comment</button>
</form>
