<h1><%= @the_user.username %></h1>

<form action="">
<td>
</td>

<td>
<label for="browser_username1">Username</label>
<input id="browser_username1" name="" type="text" value="<%= @user.username %>"></input>
</td>

<button>Add user</button>
</form>
