<h1></h1>
<% the_user = User.where({:username => "tt"})%>
<form action="">
  <dt>Id</dt>
    <dd><%= @user.id %></dd>
  <dt>Edit user</dt>
  <dd>
    <label for="browser_username2">Username</label>
    <input id="browser_username2" name="entered_name2" type="text" value="<%=@user%><">
  </dd>

<button>Update User</button>
</form>
